<div class="usuario-formulario">

        <form [formGroup]="formulario" (ngSubmit)="actualizacionFormulario()">
            <div class="campo">
                <label [ngClass]="[!this.formulario.get('nombre')?.dirty? 'empezando' : this.formulario.get('nombre')?.errors ? 'error' : 'valid']" for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre"/>
                <div *ngIf="this.formulario.get('nombre')?.dirty&& this.formulario.get('nombre')?.errors?.['required']">
                    El campo es requerido
                </div>
                <div *ngIf="this.formulario.get('nombre')?.dirty&& this.formulario.get('nombre')?.errors?.['pattern']">
                    El nombre no es válido... (ojito a las mayúculas!!!!!)
                </div>
            </div>
            <div class="campo">
                <label [ngClass]="[!this.formulario.get('apellidos')?.dirty? 'empezando' : this.formulario.get('apellidos')?.errors ? 'error' : 'valid']" for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos"/>
                <div *ngIf="this.formulario.get('apellidos')?.dirty&& this.formulario.get('apellidos')?.errors?.['required']">
                    El campo es requerido
                </div>
            </div>
            <div class="campo">
                <label [ngClass]="[!this.formulario.get('edad')?.dirty? 'empezando' : this.formulario.get('edad')?.errors ? 'error' : 'valid']" for="edad">Edad</label>
                <input type="number" id="edad" formControlName="edad"/>
                <div *ngIf="this.formulario.get('edad')?.errors?.['min']">
                    La edad debe ser al menos 0... tendrá que haber nacido.. digo !
                </div>
                <div *ngIf="this.formulario.get('edad')?.errors?.['max']">
                    Si tiene más de 130, avísame, que nos vamos a los Record Guinness!!!
                </div>
            </div>
            <div class="campo">
                <label [ngClass]="[!this.formulario.get('email')?.dirty? 'empezando' : this.formulario.get('email')?.errors ? 'error' : 'valid']" for="email">Email</label>
                <input type="text" id="email" formControlName="email"/>
                <div *ngIf="this.formulario.get('email')?.dirty&& this.formulario.get('email')?.errors?.['required']">
                    El campo es requerido
                </div>
            </div>

            <button 
                type="submit"
                [disabled]="!this.formulario.valid"
            >ACEPTAR</button>
        </form>

</div>