<div class="usuario-formulario">

        <form [formGroup]="formulario" (ngSubmit)="actualizacionFormulario()">
            <div class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre"/>
            </div>
            <div class="campo">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos"/>
            </div>
            <div class="campo">
                <label for="edad">Edad</label>
                <input type="text" id="edad" formControlName="edad"/>
            </div>
            <div class="campo">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email"/>
            </div>
            <button type="submit">ACEPTAR</button>
        </form>

</div>