<div 
    class="listado-usuarios" 
    *ngIf="this.datosUsuarios">
    
    <!-- Botones
        Seleccionar todos
        Seleccionar todos
        Borrar seleccionados
     -->

     <!-- El listado de usuarios -->
     <div *ngFor="let usuario of this.datosUsuarios">

        <usuario
            [id]="usuario.id"
            [datosUsuario]="usuario"

            [editable]=""
            [borrable]=""
            [seleccionable]=""

            [seleccionado]=

            [onModificacionSolicitada]=
            [onModificacionConfirmada]=
            [onModificacionCancelada]=
            [onBorradoSolicitado]="this.usuarioBorradoSolicitado($event)"
            [onBorradoConfirmado]="this.usuarioBorradoConfirmado($event)"
            [onBorradoCancelado]="this.usuarioBorradoCancelado($event)"
            [onSeleccionado]="this.nuevoUsuarioSeleccionado($event)"
            [onDeseleccionado]="this.nuevoUsuarioDeseleccionado($event)"

        ></usuario>

     </div>

</div>

<div class="listado-usuarios" *ngIf="this.errorMessage">
    Ups !!! {{ this.errorMessage }}
</div>

<div class="listado-usuarios"  *ngIf="!this.errorMessage && !this.datosUsuarios" >Esperando los datos de los usuarios</div>
