<div 
    class="listado-usuarios" 
    *ngIf="this.datosUsuarios">
    
    <!-- Botones
         Cuando sale? Cuando hay algun seleccionado
                Y cuando pichan? En que se convierte? CONFIRMAR | CANCELAR
                    v
                    v                       Siempre que no estén ya todos seleccionados
                    v                       v
                [BORRAR SELECCIONADOS] [SELECCIONAR TODOS] [DESELECCIONAR TODOS]

     -->
    <div class="filtro"  *ngIf="this.estado === this.Estados.SIN_SELECCIONADOS || this.estado === this.Estados.CON_SELECCIONADOS">
        <!--Con el # ponemos un ID a un elemento del DOM, al que me puedo referir posteriormente
        PERO SOLO DESDE ESTE FICHERO !!!!!-->
        <input type="text"
            #filtro
            (keyup)="this.filtrarUsuariosPor(filtro.value)"
            (change)="this.filtrarUsuariosPor(filtro.value)"
        >
        <!--button (click)="this.filtrarUsuariosPor(filtro.value)">Filtrar</button-->
    </div>
    <div class="botones"  *ngIf="this.estado === this.Estados.SIN_SELECCIONADOS || this.estado === this.Estados.CON_SELECCIONADOS">
            <accion-confirmable *ngIf="this.estado === this.Estados.CON_SELECCIONADOS"
        actionId="borrar-seleccionados"
        (onAccionConfirmada) = "this.borrarUsuariosSeleccionados()"
        mensajeAccion = "Borrar seleccionados"
        mensajeConfirmacion = "Confirmar"
        mensajeCancelacion = "Cancelar"/>

        <button *ngIf="!this.estanTodosLosUsuariosSeleccionados()"
                (click)="this.seleccionarTodosLosUsuarios()"
            >Seleccionar todos</button>
        <button 
                *ngIf="this.algunUsuarioSeleccionado()" 
                (click)="this.deseleccionarTodosLosUsuarios()"
            >Deseleccionar todos</button>

        <button 
            *ngIf="this.permitirCrear && (this.estado === this.Estados.SIN_SELECCIONADOS || this.estado === this.Estados.CON_SELECCIONADOS)" 
            (click)="this.nuevoUsuarioSolicitado()"
        >Nuevo usuario</button>

     </div>

     <div *ngIf="this.estado === this.Estados.NUEVO_USUARIO">
         <usuario-formulario></usuario-formulario>
     </div>
     <hr/>
     <!-- El listado de usuarios -->
     <div *ngFor="let usuario of this.datosUsuarios">
        <usuario
            [id]="usuario.id"
            [datosUsuario]="usuario"

            [editable]="this.esEditableElUsuario(usuario.id)"
            [borrable]="this.esBorrableElUsuario(usuario.id)"
            [seleccionable]="this.sonSeleccionablesLosUsuarios()"

            [seleccionado]="this.estaElUsuarioSeleccionado(usuario.id)"

            (onModificacionSolicitada)="this.usuarioModificacionSolicitada($event)"
            (onModificacionConfirmada)="this.usuarioModificacionConfirmada($event)"
            (onModificacionCancelada)="this.usuarioModificacionCancelada($event)"
            (onBorradoSolicitado)="this.usuarioBorradoSolicitado($event)"
            (onBorradoConfirmado)="this.usuarioBorradoConfirmado($event)"
            (onBorradoCancelado)="this.usuarioBorradoCancelado($event)"
            (onSeleccionado)="this.nuevoUsuarioSeleccionado($event)"
            (onDeseleccionado)="this.nuevoUsuarioDeseleccionado($event)"

        ></usuario>
        <hr/>
     </div>

</div>

<div class="listado-usuarios" *ngIf="this.errorMessage">
    Ups !!! {{ this.errorMessage }}
</div>

<div class="listado-usuarios"  *ngIf="!this.errorMessage && !this.datosUsuarios" >Esperando los datos de los usuarios</div>
