<div class="usuario" *ngIf="this.datosUsuario"> <!--; else esperando">-->
    
    <modificar-btn *ngIf="this.editable"
        (onModificar) = "this.log('Modificando')"
        (onCancelar) = "this.log('Cancelando')"
        (onGuardar) = "this.log('Guardando')"
    ></modificar-btn>

    <div class="avatar">FOTO DEL USUARIO :)</div>

    <div class="datos">
        <div class="nombre">{{ this.datosUsuario.nombre }}</div>
        <div class="apellido">{{ this.datosUsuario.apellidos }}</div>
        <div class="edad">{{ this.datosUsuario.edad }}</div>
        <div class="email">{{ this.datosUsuario.email }}</div>
    </div>

</div>

<div class="usuario" *ngIf="this.errorMessage">
    Ups !!! {{ this.errorMessage }}
</div>


<!--ng-template #esperando>
    <div>Esperando los datos del usuario</div>
</ng-template-->

<div *ngIf="!this.errorMessage && !this.datosUsuario" >Esperando los datos del usuario</div>


