<div class="usuario" *ngIf="this.datosUsuario; else esperando">
    
    <div class="avatar">FOTO DEL USUARIO :)</div>

    <div class="datos">
        <div class="nombre">{{ this.datosUsuario.nombre }}</div>
        <div class="apellido">{{ this.datosUsuario.apellidos }}</div>
        <div class="edad">{{ this.datosUsuario.edad }}</div>
        <div class="email">{{ this.datosUsuario.email }}</div>
    </div>

</div>


<ng-template #esperando>
    <div>Esperando los datos del usuario</div>
</ng-template>
