<div class="usuario" *ngIf="this.datosUsuario"> <!--; else esperando">-->
    
    <accion-confirmable *ngIf="this.editable && this.estado != Estados.EN_BORRADO"
        actionId="edicion"
        (onAccionSolicitada) = "this.cambiarEstado($event)"
        (onAccionCancelada) = "this.cambiarEstado($event)"
        (onAccionConfirmada) = "this.cambiarEstado($event)"
        mensajeAccion = "Modificar"
        mensajeConfirmacion = "Guardar"
        mensajeCancelacion = "Cancelar" />

    <accion-confirmable *ngIf="this.borrable && this.estado != Estados.EN_MODIFICACION"
        actionId="borrado"
        (onAccionSolicitada) = "this.cambiarEstado($event)"
        (onAccionCancelada) = "this.cambiarEstado($event)"
        (onAccionConfirmada) = "this.cambiarEstado($event)"
        mensajeAccion = "Borrar"
        mensajeConfirmacion = "Confirmar"
        mensajeCancelacion = "Cancelar" />

    <div class="avatar">FOTO DEL USUARIO :)</div>

    <div class="datos">
        <div class="nombre">{{ this.datosUsuario.nombre }}</div>
        <div class="apellido">{{ this.datosUsuario.apellidos }}</div>
        <div class="edad">{{ this.datosUsuario.edad }}</div>
        <div class="email">{{ this.datosUsuario.email }}</div>
    </div>

</div>

<div class="usuario" *ngIf="this.errorMessage">
    Ups !!! {{ this.errorMessage }}
</div>


<!--ng-template #esperando>
    <div>Esperando los datos del usuario</div>
</ng-template-->

<div *ngIf="!this.errorMessage && !this.datosUsuario" >Esperando los datos del usuario</div>


